$rose-button : #FF3E79;
$background-color: #F8F8F8;
$background-color-secondary: #FFFFFF;
$background-color--bullet: #B5B6BC;
$border-color: #D9FFF5;
$border-color--secondary: #EAEAEA;
$highlight-color: #B8FFEC;
$text-color-primary: #1B1C21;
$text-color-secondary: #7E7E82;
$shadow-color: #0E185033;
$font-size--button: 12px;
$font-size: 14px;
$font-size-secondary: 16px;
$font-size--h1: 28px;
$font-size--h2: 24px;
$font-weight--medium: 500;
$font-weight--bold: bold;

.main-page {
    background-color: $background-color;
    font-family: 'TT Lakes';
    color: $text-color-primary;

    .container--blur {
        opacity: 0.1;
        filter: blur(2px);
    }
    
    &__heading {
        position: relative;
        margin-top: 0;
        padding-top: 24px;
        font-size: $font-size--h1;
        margin-bottom: 24px;
        margin-left: 16px;
    }

    &__heading::before {
        content: '';
        position: absolute;
        background-image: url('../img/highlight-heading.svg');
        background-repeat: no-repeat;
        width: 4px;
        height: 40px;
        top: 16px;
        left: -16px;
    }

    &__menu-navigation {
        margin-bottom: 14px;
        margin-left: 16px;
    }

    &__menu {
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow: auto;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &__menu::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &__menu-item {
        white-space: nowrap;
        list-style-type: none;
        margin-right: 19px;
        font-weight: $font-weight--medium;
        height: 40px;
        min-height: 40px;
        padding: 8px 9px 8px 0;
        box-sizing: border-box;
        margin: 10px 19px 10px 0;
        margin-left: 0;
    }

    &__link {
        font-size: $font-size-secondary;
        text-decoration: none;
        color: $text-color-secondary;
        height: 40px;
        min-height: 40px;
    }

    &__link:visited, &__link:hover, &__link:active {
        background-color: $background-color-secondary;
        border: 2px solid $border-color;
        border-radius: 6px;
        padding: 8px 9px 8px 16px;
        box-sizing: border-box;
    }

    &__text-container {
        margin-left: 16px;
    }

    &__paragraph {
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
        font-size: $font-size;
        color: $text-color-primary;
        line-height: 18px;
    }

    &__button-more {
        position: relative;
        border: none;
        background-color: transparent;
        font-size: $font-size-secondary;
        font-weight: $font-weight--medium;
        color: $text-color-primary;
        padding-left: 32px;
        margin-bottom: 16px;
    }

    &__button-more::before {
        content: '';
        position: absolute;
        background-image: url('../img/icon.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        left: 8px;
    }

    &__image-logo {
        margin: 0;
        width: 100%;
        height: auto;
        margin-bottom: 24px;
    } 

    .main-page__section {
        margin-bottom: 24px;

        &--price {
            margin-bottom: 16px;
        }

        &--offer {
            margin-bottom: 0;
            margin-left: 16px;
            padding-bottom: 40px;
            border-bottom: 1px solid $border-color;
        }
    }

    &__heading-container {
        border-top: 1px solid $border-color;
        width: 100%;
        height: 80px;
        background: linear-gradient(to right, $background-color 0%, $background-color-secondary 98.61%);
        display: flex;
    }
    
    &__heading {
        &--second{
            margin: 0;
            padding: 16px;
            font-size:  $font-size-secondary;
            font-weight: normal;
            text-transform: uppercase;
            color: $text-color-secondary;
            align-self: center;
        }

        &--third {
            margin: 0;
            padding: 0;
            color: $text-color-secondary;
            font-size: $font-size;
            font-weight: normal;
            margin-bottom: 4px;
        }
    }
    
    .menu-container {
        margin-top: 24px;
        min-width: 0;
    }
    
    &__menu {
        &--brands, &--types {
            list-style-type: none;
            padding: 0;
            margin: 16px 16px 32px 16px;
        }

        &--price {
                list-style-type: none;
                padding: 0;
                margin: 16px 16px 32px 8px;
        }
    }
    
    li.menu-item {
        &--brands {
            position: relative;
            max-width: 240px;
            min-height: 72px;
            max-height: 72px;
            margin: 0;
            padding: 0;
            background-color: $background-color-secondary;
            border: 1px solid $border-color--secondary;
            border-radius: 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--types {
            position: relative;
            max-width: 240px;
            min-height: 160px;
            max-height: 160px;
            margin: 0;
            background-color: $background-color-secondary;
            border: 1px solid $border-color--secondary;
            border-radius: 6px;
            color: $text-color-primary;
            font-size: $font-size-secondary;
            padding: 16px 0 0 16px;
        }

        &--price {
            position: relative;
            max-width: 224px;
            min-height: 174px;
            max-height: 174px;
            margin: 0;
            background-color: $background-color-secondary;
            border-radius: 6px;
            color: $text-color-primary;
            font-size: $font-size-secondary;
            padding: 16px 0 0 16px;
        }
    }
    
    &__menu-image { 
        &--brands {
            margin-left: 16px;
        }   
    }
    
    &__menu-link {
        &--brands {
            display: inline-block;
            position: absolute;
            top: 16px;
            left: 184px;
            width: 36px;
            height: 36px;
            background-color: transparent;
            background-image: url('../img/dropdown.svg');
            background-repeat: no-repeat;
            background-position: center;
            border: 2px solid $rose-button;
            border-radius: 50%;
            }

        &--types {
            display: inline-block;
            position: absolute;
            top: 104px;
            left: 184px;
            width: 36px;
            height: 36px;
            background-color: transparent;
            background-image: url('../img/dropdown.svg');
            background-repeat: no-repeat;
            background-position: center;
            border: 2px solid $rose-button;
            border-radius: 50%;
        }

        &--price {
            display: inline-block;
            position: absolute;
            top: 145px;
            left: 110px;
            width: 119px;
            height: 27px;
            background-color: $rose-button;
            border-radius: 30px;
            text-decoration: none;
            padding-top: 5px;
            
        }
    }

    &__link-text {
        position: relative;
        background-image: url('../img/dropdown-white.svg');
        background-repeat: no-repeat;
        background-position: 85% 45%;
        text-transform: uppercase;
        color: $background-color-secondary;
        font-size: $font-size--button;
        font-weight: $font-weight--bold;
        height: 24px;
        vertical-align: bottom;
        padding: 4px 40px 4px 12px;
}

    &__menu-text {
        display: block;
        color: $text-color-primary;
        font-size: $font-size;
        margin-bottom: 16px;
    }

    &__menu-text:last-child {
        margin-bottom: 20px;
    }
    
    &__button-dropdown {
        margin-left: 31px;
        color: $text-color-primary;
        font-size: $font-size-secondary;
        background-color: transparent;
        border: none;
        font-family: 'TT Lakes';
        cursor: pointer;
    }
    
    .swiper .swiper-pagination-bullet {
        background-color: $background-color--bullet;
    }

    &__text--offer {
        font-size: $font-size;
        color: $text-color-primary;
        line-height: 20px;
    }

    &__link--offer {
        position: relative;
        text-decoration: none;
        font-size: $font-size-secondary;
        font-weight: $font-weight--medium;
        color: $text-color-primary;
    }

    &__link--offer::after {
        content: '';
        position: absolute;
        background-image: url('../img/dropdown.svg');
        background-repeat: no-repeat;
        width: 7px;
        height: 12px;
        left: 114px;
        top: 24px;
    }
    
    .screen-sm-hidden {
        display: none;
    }

    @media (min-width: 768px) {
        
    }

    @media (min-width: 1440px) {
        margin-left: 320px;
        // padding-left: 35px;
    }
}